html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: black;
}

.main {
    text-align: center;
}

.btn {
    text-decoration: none;
    display:inline-block;
    width: 6em;
    line-height: 6em;
    border-radius: 50%;
    font-family: sans-serif;
    font-size: 1.5rem;
    color: #fff;
    margin: 1rem;
    
}

.btn-forwards {
    background-color: green;
}

.btn-backwards {
    background-color: red;
}

.btn-forwards:hover {
    background-color: white;
    color: #FF0099;
}

.btn-backwards:hover {
    background-color: white;
    color: #FF0099;
}
   
.clock-face {
    background-image: url(../images/round.svg);
    width: 300px;
    height: 300px;
    position:relative;
    margin: 0 auto;
}

.center {
    width: 28px;
    height: 28px;
    position: absolute;
    bottom: calc(50% - 14px);
    left: calc(50% - 14px);
}

.hand {
    position:absolute;
    width: 14px;
    bottom: 150px;
    left: 150px;
    left: calc(50% - 7px);
    transition: all 6000ms linear;
    transform-origin: center bottom;
}

.clock-face:target .hand-hour {
    transform: rotate(360deg);
    
}

.clock-face:target .hand-minute {
    transform: rotate(4320deg);
}